In [7]:
# Carga inicial de librerías
import pandas as pd
import numpy as np
from datetime import datetime
from statistics import mean

# Limpieza de datos meteorológicos de la AEMET

In [8]:
# Cargamos los datos de las estaciones de cada una de las islas
datos_aemet_Tenerife = pd.read_csv('../data/inicial/datos_meteorologicos/datos_atmosfericos_Tenerife.csv', header=0)
datos_aemet_LaPalma = pd.read_csv('../data/inicial/datos_meteorologicos/datos_atmosfericos_La Palma.csv', header=0)
datos_aemet_ElHierro = pd.read_csv('../data/inicial/datos_meteorologicos/datos_atmosfericos_El Hierro.csv', header=0)
datos_aemet_LaGomera = pd.read_csv('../data/inicial/datos_meteorologicos/datos_atmosfericos_La Gomera.csv', header=0)
datos_aemet_GranCanaria = pd.read_csv('../data/inicial/datos_meteorologicos/datos_atmosfericos_Gran Canaria.csv', header=0)
datos_aemet_Lanzarote = pd.read_csv('../data/inicial/datos_meteorologicos/datos_atmosfericos_Lanzarote.csv', header=0)
datos_aemet_Fuerteventura = pd.read_csv('../data/inicial/datos_meteorologicos/datos_atmosfericos_Fuerteventura.csv', header=0)

Los datos vienen fragmentados por isla, de forma que los unimos todos en uno para un tratamiento mejor de los datos

In [9]:
# Listado con todos los datos de cada isla
lista_datos_islas = [datos_aemet_Tenerife, datos_aemet_LaPalma, datos_aemet_ElHierro, datos_aemet_LaGomera, datos_aemet_GranCanaria, datos_aemet_Lanzarote, datos_aemet_Fuerteventura]

# Unimos los datos en un solo DataFrame
datos_aemet = pd.concat(lista_datos_islas, ignore_index=True)

In [10]:
#Obtenemos las dimensiones del dataframe
shape = datos_aemet.shape

print("Número de atributos:", shape[1])
print("Número de filas :", shape[0])
print("Nombre de los atributos:", datos_aemet.columns.values)

Número de atributos: 26
Número de filas : 3171
Nombre de los atributos: ['fecha' 'indicativo' 'nombre' 'provincia' 'altitud' 'tmed' 'prec' 'tmin'
 'horatmin' 'tmax' 'horatmax' 'dir' 'velmedia' 'racha' 'horaracha' 'sol'
 'presMax' 'horaPresMax' 'presMin' 'horaPresMin' 'hrMedia' 'hrMax'
 'horaHrMax' 'hrMin' 'horaHrMin' 'isla']

Este dataset contiene 3165 registros que corresponden con los datos de casos de covid en las Islas Canarias y 26 variables que los caracterizan. La descripción de las variables obtenidas son:

* **fecha:** Fecha de los datos.
* **indicativo:** Indicativo climatológico.
* **nombre:** Nombre de la estación.
* **provincia:** Provincia de la estación.
* **altitud:** Altitud de la estación.
* **tmed:** Temperatura media diaria.
* **prec:** Precipitación diaria.
* **tmin:** Temperatura mínima del día.
* **horatmin:** Hora y minuto de la temperatura mínima.
* **tmax:** Temperatura máxima del día.
* **horatmax:** Hora y minuto de la temperatura máxima.
* **dir:** Dirección de la raxha máxima
* **velmedia:** Velocidad media del viento.
* **racha:** Racha máxima del viento.
* **horaracha:** Hora y minuto de la racha máxima.
* **sol:** Insolación
* **presMax:** Presión máxima al nivel de referencia de la estación
* **horaPresMax:** Hora de la presión máxima.
* **presMin:** Presión mínima al nivel de referencia de la estación.
* **horaPresMin:** Hora de la presión mínima.
* **hrMedia:** Humedad relativa media diaria.
* **hrMax:** Humedad relativa máxima diaria.
* **horaHrMax:** Hora de la humedad relativa máxima.
* **hrMin:** Humedad relativa mínima diaria
* **horaHrMin:** Hora de la humedad relativa mínima.
* **isla:** Isla a la que pertenecen los datos.

In [11]:
def comporbar_valores_perdidos(df):
    '''Compruba si existen valores perdidos en el DataFrame
    
    Args:
    df (DataFrame): DataFrame con los datos para comprobar la existencia de datos perdidos
    '''
    #Buscamos los valores vacíos
    print("\nValores no definidos:")
    print(df.isna().sum())
    
    print("\nValores nulos:")
    print(df.isnull().sum())

Comprobamos la existencia de valores perdidos en el conjunto de datos.

In [12]:
comporbar_valores_perdidos(datos_aemet)

Valores no definidos:
fecha           0
indicativo      0
nombre          0
provincia       0
altitud         0
tmed           29
prec            0
tmin           29
horatmin       33
tmax           29
horatmax       31
dir            23
velmedia       11
racha          23
horaracha      23
sol            45
presMax        22
horaPresMax    22
presMin        22
horaPresMin    22
hrMedia        23
hrMax          30
horaHrMax      31
hrMin          30
horaHrMin      31
isla            0
dtype: int64

Valores nulos:
fecha           0
indicativo      0
nombre          0
provincia       0
altitud         0
tmed           29
prec            0
tmin           29
horatmin       33
tmax           29
horatmax       31
dir            23
velmedia       11
racha          23
horaracha      23
sol            45
presMax        22
horaPresMax    22
presMin        22
horaPresMin    22
hrMedia        23
hrMax          30
horaHrMax      31
hrMin          30
horaHrMin      31
isla            0
dtype: int64

Para este conjunto de datos vemos la existencia de bastantes valores perdidos en diferentes variables los cuales debemos de tratar.

In [13]:
# Información de las variables
datos_aemet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3171 entries, 0 to 3170
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fecha        3171 non-null   object
 1   indicativo   3171 non-null   object
 2   nombre       3171 non-null   object
 3   provincia    3171 non-null   object
 4   altitud      3171 non-null   int64
 5   tmed         3142 non-null   object
 6   prec         3171 non-null   object
 7   tmin         3142 non-null   object
 8   horatmin     3138 non-null   object
 9   tmax         3142 non-null   object
 10  horatmax     3140 non-null   object
 11  dir          3148 non-null   float64
 12  velmedia     3160 non-null   object
 13  racha        3148 non-null   object
 14  horaracha    3148 non-null   object
 15  sol          3126 non-null   object
 16  presMax      3149 non-null   object
 17  horaPresMax  3149 non-null   object
 18  presMin      3149 non-null   object
 19  horaPresMin  3149 non-null   object
 20  hrMedia      3148 non-null   float64
 21  hrMax        3141 non-null   float64
 22  horaHrMax    3140 non-null   object
 23  hrMin        3141 non-null   float64
 24  horaHrMin    3140 non-null   object
 25  isla         3171 non-null   object
dtypes: float64(4), int64(1), object(21)
memory usage: 644.2+ KB

In [14]:
# Muestra del conjunto de datos.
datos_aemet.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,...,presMax,horaPresMax,presMin,horaPresMin,hrMedia,hrMax,horaHrMax,hrMin,horaHrMin,isla
0,2021-01-01,C449C,STA.CRUZ DE TENERIFE,STA. CRUZ DE TENERIFE,36,"18,1",Ip,"16,2",23:40,"20,0",...,"1019,1",10,"1016,2",18,59.0,76.0,23:20,47.0,11:20,Tenerife
1,2021-01-02,C449C,STA.CRUZ DE TENERIFE,STA. CRUZ DE TENERIFE,36,"17,8","0,0","15,8",07:00,"19,8",...,"1016,9",11,"1013,0",19,65.0,76.0,00:50,50.0,13:20,Tenerife
2,2021-01-03,C449C,STA.CRUZ DE TENERIFE,STA. CRUZ DE TENERIFE,36,"18,2",Ip,"16,6",23:40,"19,8",...,"1014,8",10,"1010,9",Varias,66.0,76.0,23:59,62.0,05:40,Tenerife
3,2021-01-04,C449C,STA.CRUZ DE TENERIFE,STA. CRUZ DE TENERIFE,36,"18,2",Ip,"16,6",00:00,"19,7",...,"1011,4",01,"1006,2",18,80.0,86.0,23:59,72.0,Varias,Tenerife
4,2021-01-05,C449C,STA.CRUZ DE TENERIFE,STA. CRUZ DE TENERIFE,36,"20,9","0,0","18,1",01:20,"23,7",...,"1008,0",10,"1004,6",17,68.0,88.0,00:50,59.0,13:40,Tenerife

De este conjunto de datos eliminaremos los datos de las horas de las diferentes medidas, así como el indicativo, el nombre y la altitud de la estación meteorológica y la provincia a la que pertenece

In [15]:
# Obtenemos sólo las variables que vamos a utilizar en el estudio, eliminando aquellas variables como las horas
datos_aemet = datos_aemet[['fecha','isla','tmed', 'prec', 'tmin', 'tmax', 'dir', 'velmedia', 'racha', 'sol', 'presMax', 'presMin', 'hrMedia', 'hrMax', 'hrMin']]

# Convertimos las variables con tipos de datos incorrectos en los tipos de datos que le corresponden
datos_aemet['fecha'] = pd.to_datetime(datos_aemet['fecha'])
datos_aemet['isla'] = datos_aemet['isla'].astype(str)
datos_aemet['isla'] = datos_aemet['isla'].str.upper()
datos_aemet['tmed'] = datos_aemet['tmed'].str.replace(',','.').astype(float)
datos_aemet['prec'] = datos_aemet['prec'].replace('Ip', '0.05')
datos_aemet['prec'] = datos_aemet['prec'].str.replace(',','.').astype(float)
datos_aemet['tmin'] = datos_aemet['tmin'].str.replace(',','.').astype(float)
datos_aemet['tmax'] = datos_aemet['tmax'].str.replace(',','.').astype(float)
datos_aemet['dir'] = datos_aemet['dir'].astype(float)
datos_aemet['velmedia'] = datos_aemet['velmedia'].str.replace(',','.').astype(float)
datos_aemet['racha'] = datos_aemet['racha'].str.replace(',','.').astype(float)
datos_aemet['sol'] = datos_aemet['sol'].str.replace(',','.').astype(float)
datos_aemet['presMax'] = datos_aemet['presMax'].str.replace(',','.').astype(float)
datos_aemet['presMin'] = datos_aemet['presMin'].str.replace(',','.').astype(float)
datos_aemet['hrMedia'] = datos_aemet['hrMedia'].astype(float)
datos_aemet['hrMax'] = datos_aemet['hrMax'].astype(float)
datos_aemet['hrMin'] = datos_aemet['hrMin'].astype(float)

In [16]:
# Información de las variables
datos_aemet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3171 entries, 0 to 3170
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   fecha     3171 non-null   datetime64[ns]
 1   isla      3171 non-null   object
 2   tmed      3142 non-null   float64
 3   prec      3171 non-null   float64
 4   tmin      3142 non-null   float64
 5   tmax      3142 non-null   float64
 6   dir       3148 non-null   float64
 7   velmedia  3160 non-null   float64
 8   racha     3148 non-null   float64
 9   sol       3126 non-null   float64
 10  presMax   3149 non-null   float64
 11  presMin   3149 non-null   float64
 12  hrMedia   3148 non-null   float64
 13  hrMax     3141 non-null   float64
 14  hrMin     3141 non-null   float64
dtypes: datetime64[ns](1), float64(13), object(1)
memory usage: 371.7+ KB

In [17]:
# Muestra del conjunto de datos.
datos_aemet.head()

,fecha,isla,tmed,prec,tmin,tmax,dir,velmedia,racha,sol,presMax,presMin,hrMedia,hrMax,hrMin
0,2021-01-01,TENERIFE,18.1,0.05,16.2,20.0,6.0,2.2,7.5,1.5,1019.1,1016.2,59.0,76.0,47.0
1,2021-01-02,TENERIFE,17.8,0.00,15.8,19.8,8.0,3.1,7.2,2.7,1016.9,1013.0,65.0,76.0,50.0
2,2021-01-03,TENERIFE,18.2,0.05,16.6,19.8,10.0,1.1,6.1,0.3,1014.8,1010.9,66.0,76.0,62.0
3,2021-01-04,TENERIFE,18.2,0.05,16.6,19.7,20.0,2.2,11.7,0.0,1011.4,1006.2,80.0,86.0,72.0
4,2021-01-05,TENERIFE,20.9,0.00,18.1,23.7,29.0,2.5,10.8,7.7,1008.0,1004.6,68.0,88.0,59.0

Una vez convertida cada variable a su tipo de dato correspondiente debemos de cumplimentar los valores perdidos obtenidos anteriormente. Para obtener esto valores utilizaremos una función de interpolación lineal para cada variable de forma que se obtenga el punto medio de entre los puntos más cercanos a cada valor perdido, es decir los correspondientes con las fechas anterior y posterior de cada valor.

In [18]:
#Ordenamos para poder realizar la interpolación de los datos correctamente
datos_aemet = datos_aemet.sort_values(by='fecha')

In [19]:
# Obtenemos el listado de islas del conjunto de datos
valores_islas = datos_aemet['isla'].unique()
print("Valores de islas:", valores_islas)

Valores de islas: ['TENERIFE' 'EL HIERRO' 'LANZAROTE' 'GRAN CANARIA' 'LA GOMERA'
 'FUERTEVENTURA' 'LA PALMA']

In [20]:
# filas con datos perdidos
filas_na = datos_aemet[datos_aemet.isna().any(axis=1)]

# Recorremos cada isla para que la interpolación se haga con los datos de cada isla
for isla in valores_islas:
    # Filtramos por isla el dataframe
    filas_na_isla = filas_na[filas_na['isla'] == isla]
    # datos de cada isla
    datos_aemet_isla = datos_aemet[datos_aemet['isla'] == isla]
    # variables para las que vamos a realizar la interpolación
    variables = ['tmed', 'prec','tmin','tmax','dir','velmedia','racha','sol','presMax', 'presMin','hrMedia','hrMax', 'hrMin']
    
    # Recorremos cada variable realizando la interpolación
    for variable in variables:
        datos_aemet.loc[datos_aemet['isla'] == isla, variable] = datos_aemet_isla[variable].interpolate(method='linear')

Comprobamos de nuevo la existencia de valores perdidos

In [21]:
comporbar_valores_perdidos(datos_aemet)

Valores no definidos:
fecha       0
isla        0
tmed        0
prec        0
tmin        0
tmax        0
dir         0
velmedia    0
racha       0
sol         0
presMax     0
presMin     0
hrMedia     0
hrMax       0
hrMin       0
dtype: int64

Valores nulos:
fecha       0
isla        0
tmed        0
prec        0
tmin        0
tmax        0
dir         0
velmedia    0
racha       0
sol         0
presMax     0
presMin     0
hrMedia     0
hrMax       0
hrMin       0
dtype: int64

Comprobamos la existencia de fechas para la que no existan datos por cada isla

In [22]:
# Fecha inicial desde la que se tienen los datos de casos de COVID
fecha_inicio = datetime(2021, 1, 1)
# Fecha final hasta la que se tienen los datos de casos de COVID
fecha_fin = datetime(2021, 3, 29)
# Rango de fechas de la que tenemos datos de casos de COVID
rango_fechas = pd.date_range(start=fecha_inicio, end=fecha_fin, freq='D')

def comprobar_fechas_isla(df):
    '''Compruba si existe alguna fecha para lo que no se tenga datos de una isla
    
    Args:
    df (DataFrame): DataFrame con los datos de la serie temporal de los casos de COVID para una isla
    
    Returns:
    fechas_faltantes (list): Listado con las fechas para las que no se tiene datos
    '''
    fechas_faltantes = rango_fechas[~rango_fechas.isin(df['fecha'])]
    if len(fechas_faltantes) == 0:
        return []
    else:
        return fechas_faltantes.tolist()
        # Convertir las fechas a strings
        #fechas_str = [str(fecha) for fecha in fechas_faltantes]
        #fechas_str = ','.join(fechas_str)
        
        #return fechas_str


def comprobar_fechas(df):
    '''Realiza la comprobación para cada una de las islas del DataFrame si existe alguna fecha sin datos
    
    Args:
        df (DataFrame): DataFrame con los datos de la serie temporal de los casos de COVID de todas las islas
    '''
    for isla in valores_islas:
        print('Fechas faltantes para ' + isla + ': ' + str(comprobar_fechas_isla(df[df['isla'] == isla])))

In [23]:
comprobar_fechas(datos_aemet)

Fechas faltantes para TENERIFE: []
Fechas faltantes para EL HIERRO: []
Fechas faltantes para LANZAROTE: []
Fechas faltantes para GRAN CANARIA: []
Fechas faltantes para LA GOMERA: []
Fechas faltantes para FUERTEVENTURA: []
Fechas faltantes para LA PALMA: []

Podemos ver que para los datos meteorológicos no existen fechas para las que no existan datos

In [26]:
ruta_fichero = "../data/Intermedio/" 
nombre_fichero = "datos_aemet.csv"

# Escribimos los datos de la aemet en un ficero
datos_aemet.to_csv(ruta_fichero + nombre_fichero, index=False)

Unimos los datos meteorológicos con los datos de covid

In [27]:
# Cargamos los datos de covid
datos_covid = pd.read_csv('../data/Intermedio/datos_covid.csv', header=0)

# Convertimos los datos de fecha en tipo string para poder realizar la fusión de datos
datos_aemet['fecha'] = datos_aemet['fecha'].astype(str)
datos_covid['fecha'] = datos_covid['fecha'].astype(str)

In [28]:
# Unimos los datos en un dataset final
df_final = pd.merge(datos_covid, datos_aemet, on=['fecha', 'isla'], how='inner')

# Devolvemos el dataset a su formato correcto
df_final['fecha'] = pd.to_datetime(df_final['fecha'])

# rdenamos por fecha los datos
df_final = df_final.sort_values(by='fecha')

Visualizamos los datos finales

In [29]:
df_final

,isla,fecha,numero_casos,ia_7dias,ia_14dias,pcr_total,pcr_positivos,pcr_porcentaje_positivos,pcr_porcentaje_positivos_7dias,Urg_ingr,...,tmax,dir,velmedia,racha,sol,presMax,presMin,hrMedia,hrMax,hrMin
0,LANZAROTE,2021-01-01,14,48.134932,77.657690,212,16,7.547170,3.298153,20,...,21.3,35.0,6.1,14.4,2.8,1020.2,1017.5,59.0,74.0,43.0
1,FUERTEVENTURA,2021-01-01,1,25.891157,49.276718,31,1,3.225806,4.934823,9,...,20.6,1.0,7.8,13.9,2.7,1018.8,1016.2,58.0,71.0,48.0
2,EL HIERRO,2021-01-01,0,80.739212,107.652283,1,0,0.000000,4.529617,0,...,20.8,99.0,5.3,11.4,2.5,1019.8,1016.5,59.0,73.0,49.0
3,LA GOMERA,2021-01-01,0,46.129717,156.841037,7,1,14.285714,12.459016,0,...,19.4,31.0,2.2,12.5,2.5,996.9,993.8,58.0,69.0,50.0
4,GRAN CANARIA,2021-01-01,62,49.092892,83.574804,1017,78,7.669617,5.668176,90,...,20.3,99.0,8.3,13.3,1.9,1017.4,1014.9,60.0,89.0,46.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3158,TENERIFE,2022-03-28,319,407.493399,882.292129,1781,464,26.052779,28.630549,260,...,23.1,19.0,5.3,17.2,6.6,1008.1,1002.4,73.0,87.0,58.0
3159,LANZAROTE,2022-03-28,13,134.777809,282.391600,266,15,5.639098,17.935192,25,...,23.2,17.0,7.5,15.0,6.3,1011.0,1007.1,82.0,92.0,64.0
3160,LA GOMERA,2022-03-28,13,954.885137,1974.351877,37,16,43.243243,44.134078,0,...,20.0,24.0,6.7,18.1,4.6,987.4,983.2,80.0,95.0,67.0
3161,LA PALMA,2022-03-28,63,626.662513,1386.326056,298,78,26.174497,27.955056,21,...,21.2,17.0,5.0,21.1,4.0,1008.2,999.7,77.0,93.0,54.0
3163,FUERTEVENTURA,2022-03-28,22,140.313367,312.364280,169,24,14.201183,15.745568,23,...,23.8,20.0,8.6,21.1,4.7,1009.5,1005.7,74.0,86.0,49.0

In [30]:
ruta_fichero = "../data/Final/" 
nombre_fichero = "datos_final.csv"

# Escribimos los datos en fichero
df_final.to_csv(ruta_fichero + nombre_fichero, index=False)